img {
  max-width: 100%;
  height: auto;
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $highlightColor;
  color: $textColorLight;
  padding: 0.5em 1.2em;
  min-width: 180px;
  min-height: 54px;
  font-weight: 700;
  text-shadow: 0px 1px 0px rgba($darkGrey, 0.1);
  border: none;
  border-radius: 54px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 14px 18px 4px rgba($backgroundColorDark, 0.1);
  @include transition(all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1));

  &.uppercase {
    text-transform: uppercase;
  }

  &.inline {
    display: inline-flex;
  }

  &.sm {
    padding: 0.5em 1em;
    min-height: 44px;
    border-radius: 44px;
  }

  &.circle {
    min-width: 54px;
    width: 54px;

    &.sm {
      min-width: 44px;
      width: 44px;
    }
  }

  &:active,
  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: $textColorLight;
    background-color: $highlightColorLight;
    box-shadow: 0px 6px 14px 0px rgba($backgroundColorDark,0.1);
    outline: none;
  }
}

.secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $secondaryColor;
  color: $textColorLight;
  padding: 0.5em 1.2em;
  min-width: 180px;
  min-height: 54px;
  font-weight: 700;
  text-shadow: 0px 1px 0px rgba($darkGrey, 0.1);
  border: none;
  border-radius: 54px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 14px 18px 4px rgba($backgroundColorDark, 0.1);
  @include transition(all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1));

  &.uppercase {
    text-transform: uppercase;
  }

  &.inline {
    display: inline-flex;
  }

  &.sm {
    padding: 0.5em 1em;
    min-height: 44px;
    border-radius: 44px;
  }

  &.circle {
    min-width: 54px;
    width: 54px;

    &.sm {
      min-width: 44px;
      width: 44px;
    }
  }

  &:active,
  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: $textColorLight;
    background-color: $secondaryColorLight;
    box-shadow: 0px 6px 14px 0px rgba($backgroundColorDark,0.1);
    outline: none;
  }
}

.cancel-btn {
  color: lighten($darkGrey, 50%);
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus,
  &:active:hover,
  &:active:focus {
    color: lighten($darkGrey, 20%);
    text-decoration: none;
  }
}

.card {
  height: 100%;
  background-color: $backgroundColorLight;
  border: none;
  border-radius: 10px;
  padding: 0 $paddingSize $paddingSize;
  align-items: center;
  text-align: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  @include transition(all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1));

  .card-banner {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $backgroundColorLight;
    font-size: 2em;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    @include transition(all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1));
  }

  .card-title {
    margin: $paddingSize 0 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
  }

  .card-description {
    color: $lightDarkGrey;

    p {
      margin: 0;
    }
  }

  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    box-shadow: 0px 10px 20px 0px rgba($backgroundColorDark, 0.1);

    .card-banner {
      border-radius: 0;
      width: calc(100% + #{$paddingSize * 2});
    }
  }
}

.big-wrapper {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding: 4em 0;

  @include above($mobileSize) {
    padding: 6em 0;
  }
  @include above($tabletSize) {
    padding: 8em 0;
  }

  .title-subtitle {
    position: relative;
    color: $lightDarkGrey;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 $paddingSize;

    p {
      margin: 0;
    }
  }
}

.portfolio-preview {
  position: relative;

  .portfolio-controls {
    display: flex;
    align-items: center;
    padding: 1em 0;

    .filters-button {
      cursor: pointer;

      span {
        margin-right: 10px;
      }

      svg {
        @include transition(transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);
      }
    }

    .filters {
      display: flex;
      align-items: center;
      margin-left: 2.5rem;
      flex: 1;
      overflow-x: auto;

      .control {
        color: $textColorDark;
        cursor: pointer;
        opacity: 0;
        margin-left: 2.66667rem;
        @include transform(translateX(-0.66667rem));
        @include transition(visibility cubic-bezier(0.25, 0.46, 0.45, 0.94),
          opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
          transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);
        @include below($mobileSize) {
          opacity: 1;
          margin-left: 1rem;
          @include transform(translateX(0));
        }

        &:first-child {
          margin-left: 0;
        }

        &.mixitup-control-active {
          color: $secondaryColor;
        }
      }
    }

    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus {
      color: $secondaryColor;

      .filters-button {
        svg {
          @include transform(translateX(0.66667rem));
        }
      }

      .filters {
        .control {
          opacity: 1;
          @include transform(translateX(0));

          &:nth-child(n+2) {
            -webkit-transition-delay: .1s;
            -moz-transition-delay: .1s;
            -ms-transition-delay: .1s;
            -o-transition-delay: .1s;
            transition-delay: .1s;
          }

          &:nth-child(n+3) {
            -webkit-transition-delay: .15s;
            -moz-transition-delay: .15s;
            -ms-transition-delay: .15s;
            -o-transition-delay: .15s;
            transition-delay: .15s;
          }

          &:nth-child(n+4) {
            -webkit-transition-delay: .15s;
            -moz-transition-delay: .15s;
            -ms-transition-delay: .15s;
            -o-transition-delay: .15s;
            transition-delay: .15s;
          }

          &:nth-child(n+5) {
            -webkit-transition-delay: .15s;
            -moz-transition-delay: .15s;
            -ms-transition-delay: .15s;
            -o-transition-delay: .15s;
            transition-delay: .15s;
          }

          &:nth-child(n+6) {
            -webkit-transition-delay: .15s;
            -moz-transition-delay: .15s;
            -ms-transition-delay: .15s;
            -o-transition-delay: .15s;
            transition-delay: .15s;
          }

          &:nth-child(n+7) {
            -webkit-transition-delay: .15s;
            -moz-transition-delay: .15s;
            -ms-transition-delay: .15s;
            -o-transition-delay: .15s;
            transition-delay: .15s;
          }

          &:nth-child(n+8) {
            -webkit-transition-delay: .15s;
            -moz-transition-delay: .15s;
            -ms-transition-delay: .15s;
            -o-transition-delay: .15s;
            transition-delay: .15s;
          }
        }
      }
    }
  }

  .portfolio-container {
    margin-top: $paddingSize;
    margin-left: -$paddingSize;
    margin-right: -$paddingSize;

    .mix {
      position: relative;
      margin-bottom: $paddingSize * 2;
      padding-left: $paddingSize;
      padding-right: $paddingSize;
      cursor: pointer;
      padding-bottom: 100%;

      @include above($tabletSize) {
        padding-bottom: 50%;
      }

      .folio-image {
        position: absolute;
        top: 0;
        right: $paddingSize;
        bottom: 0;
        left: $paddingSize;
        z-index: 1;
        border: 1px solid rgba(0, 0, 0, 0.05);
        background-color: lighten($darkGrey, 75%);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .folio-info {
        opacity: 0;
        position: absolute;
        top: 0;
        right: $paddingSize;
        bottom: 0;
        left: $paddingSize;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        background-color: $highlightColor;
        color: $backgroundColorLight;
        padding: $paddingSize;
        @include transition(opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
          visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);

        .folio-title {
          opacity: 0;
          font-size: 1.5em;
          @include transform(translateY(0.66667rem));
          @include transition(opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
            visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
            transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);
        }

        .folio-category {
          opacity: 0;
          flex: 1;
          font-size: 1.2em;
          font-weight: 300;
          @include transform(translateY(0.66667rem));
          @include transition(opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
            visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
            transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);
        }

        .view-more-holder {
          opacity: 0;
          font-size: 1em;
          display: flex;
          @include transform(translateY(0.66667rem));
          @include transition(opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
            visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
            transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);

          span {
            flex: 1;
          }

          svg {
            @include transform(translateX(-0.66667rem));
            @include transition(transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);
          }

          &:hover,
          &:active,
          &:focus,
          &:active:hover,
          &:active:focus {
            svg {
              @include transform(translateX(0));
            }
          }
        }
      }

      &:hover,
      &:active,
      &:focus,
      &:active:hover,
      &:active:focus {
        .folio-info {
          opacity: 1;

          .folio-title {
            opacity: 1;
            -webkit-transition-delay: .1s;
            -moz-transition-delay: .1s;
            -ms-transition-delay: .1s;
            -o-transition-delay: .1s;
            transition-delay: .1s;
            @include transform(translateY(0));
          }

          .folio-category {
            opacity: 1;
            -webkit-transition-delay: .15s;
            -moz-transition-delay: .15s;
            -ms-transition-delay: .15s;
            -o-transition-delay: .15s;
            transition-delay: .15s;
            @include transform(translateY(0));
          }

          .view-more-holder {
            opacity: 1;
            -webkit-transition-delay: .2s;
            -moz-transition-delay: .2s;
            -ms-transition-delay: .2s;
            -o-transition-delay: .2s;
            transition-delay: .2s;
            @include transform(translateY(0));
          }
        }
      }
    }
  }
}

.swiper-container {
  .swiper-button-prev-slide,
  .swiper-button-next-slide {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    font-size: 44px;
    line-height: 1;
    text-align: center;
    opacity: 0.2;
    @include transition(opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);

    &:hover {
      opacity: 1;
    }
  }

  .swiper-button-prev-slide {
    left: 0;
  }

  .swiper-button-next-slide {
    right: 0;
  }
}

.swiper-slide {
  position: relative;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.05);

  @include above($mobileSize) {
    width: 70%;
  }
  @include above($tabletSize) {
    width: 40%;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .slide-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    .folio-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
      background-color: lighten($darkGrey, 75%);
    }

    .folio-info {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      display: flex;
      flex-flow: column nowrap;
      background-color: $highlightColor;
      color: $backgroundColorLight;
      padding: $paddingSize;
      @include transition(opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
        visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);

      .folio-title {
        opacity: 0;
        font-size: 1.5em;
        @include transform(translateY(0.66667rem));
        @include transition(opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
          visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
          transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);
      }

      .folio-category {
        opacity: 0;
        flex: 1;
        font-size: 1.2em;
        font-weight: 300;
        @include transform(translateY(0.66667rem));
        @include transition(opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
          visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
          transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);
      }

      .view-more-holder {
        opacity: 0;
        font-size: 1em;
        display: flex;
        @include transform(translateY(0.66667rem));
        @include transition(opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
          visibility cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s,
          transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);

        span {
          flex: 1;
        }

        svg {
          @include transform(translateX(-0.66667rem));
          @include transition(transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s);
        }

        &:hover,
        &:active,
        &:focus,
        &:active:hover,
        &:active:focus {
          svg {
            @include transform(translateX(0));
          }
        }
      }
    }

    &:hover,
    &:active,
    &:focus,
    &:active:hover,
    &:active:focus {
      .folio-info {
        opacity: 1;

        .folio-title {
          opacity: 1;
          -webkit-transition-delay: .1s;
          -moz-transition-delay: .1s;
          -ms-transition-delay: .1s;
          -o-transition-delay: .1s;
          transition-delay: .1s;
          @include transform(translateY(0));
        }

        .folio-category {
          opacity: 1;
          -webkit-transition-delay: .15s;
          -moz-transition-delay: .15s;
          -ms-transition-delay: .15s;
          -o-transition-delay: .15s;
          transition-delay: .15s;
          @include transform(translateY(0));
        }

        .view-more-holder {
          opacity: 1;
          -webkit-transition-delay: .2s;
          -moz-transition-delay: .2s;
          -ms-transition-delay: .2s;
          -o-transition-delay: .2s;
          transition-delay: .2s;
          @include transform(translateY(0));
        }
      }
    }
  }
}

.empty-portfolio-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $lightDarkGrey;
}

.image-holder {
  margin-top: 30px;
  margin-bottom: 40px;
}

.loading-card {
  position: relative;
  margin-bottom: $paddingSize * 2;
  padding-left: $paddingSize;
  padding-right: $paddingSize;
  padding-bottom: 100%;

  &.home-page {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;

    @include below($tabletSize) {
      flex: 0 0 90%;
      max-width: 90%;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    .folio-image {
      right: 0;
      left: 0;
    }
  }

  &.blog-page {
    padding: 0 35px 20px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @include below($tabletSize) {
      + .loading-card {
        display: flex;
      }

      &:nth-child(3) {
        display: none;
      }
    }

    .folio-image {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-image: linear-gradient(90deg, lighten($darkGrey, 75%) 0px, rgba(229, 229, 229, 0.4) 40px, lighten($darkGrey, 75%) 80px);
      background-size: 600px;
      animation: shine-lines 2s infinite ease-out;
    }

    .folio-info {
      margin-top: 20px;
      width: 100%;
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 2;
      display: flex;
      flex-flow: column nowrap;
      padding: 0;

      .folio-title {
        width: 100%;
      }

      .folio-category {
        .description {
          width: 100%;
          margin-top: 25px;

          + .description {
            margin-top: 6px;
             width: 60%;
          }
        }
      }

      .view-more-holder {
        height: 20px;
        width: 50px;
        margin-top: 25px;
      }

      .folio-title,
      .folio-category .description,
      .view-more-holder {
        background-color: lighten($darkGrey, 75%);
        background-image: linear-gradient(90deg, lighten($darkGrey, 75%) 0px, rgba(229, 229, 229, 0.4) 40px, lighten($darkGrey, 75%) 80px);
        background-size: 600px;
        animation: shine-lines 2s infinite ease-out;
      }
    }
  }

  @include above($tabletSize) {
    padding-bottom: 50%;
  }

  @include below($tabletSize) {
    + .loading-card {
      display: none;
    }
  }

  .folio-image {
    position: absolute;
    top: 0;
    right: $paddingSize;
    bottom: 0;
    left: $paddingSize;
    z-index: 1;
    background-color: lighten($darkGrey, 75%);
  }

  .folio-info {
    position: absolute;
    top: 0;
    right: $paddingSize;
    bottom: 0;
    left: $paddingSize;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    padding: $paddingSize;

    .folio-title {
      height: 40px;
      width: 80%;
    }

    .folio-category {
      flex: 1;

      .description {
        height: 20px;
        width: 40%;
        margin-top: 10px;
      }
    }

    .view-more-holder {
      height: 15px;
      width: 30%;
    }

    .folio-title,
    .folio-category .description,
    .view-more-holder {
      background-color: $backgroundColorLight;
      background-image: linear-gradient(90deg, $backgroundColorLight 0px, rgba(229, 229, 229, 0.4) 40px, $backgroundColorLight 80px);
      background-size: 600px;
      animation: shine-lines 2s infinite ease-out;
    }
  }
}

.loading-holder {
  margin-top: 76px;

  &.home-page {
    margin-top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    overflow: hidden;
  }

  &.blog-page {
    margin-top: 0;
  }
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 500px;
  }
}

.loader-holder {
  display: flex;
  justify-content: center;

  .loader {
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: lighten($darkGrey, 60%);
    letter-spacing: 0.2em;
    font-size: 14px;
    
    &:before,
    &:after {
      content: "";
      display: block;
      width: 15px;
      height: 5px;
      background: $highlightColor;
      position: absolute;
      animation: load .7s infinite alternate ease-in-out;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 5px; width: 30px }
  100% { left: 235px; height: 30px; width: 15px}
}

.gradient-1 {
  background: #84fab0;
  background: -moz-linear-gradient(-45deg, #84fab0 0%, #8fd3f4 100%);
  background: -webkit-linear-gradient(-45deg, #84fab0 0%,#8fd3f4 100%);
  background: linear-gradient(135deg, #84fab0 0%,#8fd3f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84fab0', endColorstr='#8fd3f4',GradientType=1 );
}

.gradient-2 {
  background: #f6d365;
  background: -moz-linear-gradient(-45deg, #f6d365 0%, #fda085 100%);
  background: -webkit-linear-gradient(-45deg, #f6d365 0%,#fda085 100%);
  background: linear-gradient(135deg, #f6d365 0%,#fda085 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d365', endColorstr='#fda085',GradientType=1 );
}

.gradient-3 {
  background: #ffb199;
  background: -moz-linear-gradient(-45deg, #ffb199 0%, #ff0844 100%);
  background: -webkit-linear-gradient(-45deg, #ffb199 0%,#ff0844 100%);
  background: linear-gradient(135deg, #ffb199 0%,#ff0844 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb199', endColorstr='#ff0844',GradientType=1 );
}

.gradient-4 {
  background: #21d4fd;
  background: -moz-linear-gradient(-45deg, #21d4fd 0%, #b721ff 100%);
  background: -webkit-linear-gradient(-45deg, #21d4fd 0%,#b721ff 100%);
  background: linear-gradient(135deg, #21d4fd 0%,#b721ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21d4fd', endColorstr='#b721ff',GradientType=1 );
}

.gradient-5 {
  background: #fff07f;
  background: -moz-linear-gradient(-45deg, #fff07f 0%, #b4ea2a 100%);
  background: -webkit-linear-gradient(-45deg, #fff07f 0%,#b4ea2a 100%);
  background: linear-gradient(135deg, #fff07f 0%,#b4ea2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff07f', endColorstr='#b4ea2a',GradientType=1 );
}

.gradient-6 {
  background: #04befe;
  background: -moz-linear-gradient(-45deg, #04befe 0%, #4481eb 100%);
  background: -webkit-linear-gradient(-45deg, #04befe 0%,#4481eb 100%);
  background: linear-gradient(135deg, #04befe 0%,#4481eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04befe', endColorstr='#4481eb',GradientType=1 );
}