.work-page {
  .project-header {
    position: relative;
    background-color: $secondaryColor;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 8em;

    .project-header-screen {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(#233142, 0.5);
    }

    .container {
      position: relative;
      z-index: 2;
    }

    .title-wrapper,
    .title-subtitle {
      color: $textColorLight;
    }
  }

  .page-content {
    text-align: justify;
  }

  .pre-footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba($backgroundColorDark, 0.1);

    .row {
      div + div {
        color: $textColorLight;

        @include below($tabletSize) {
          text-align: left !important;
          margin-top: 20px;        }
      }
    }
  }
}