/*.page-enter-active, .page-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .5s, transform .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}*/